#定位错误页面
rewrite ^/404.html?$  /404.html break;
rewrite ^/favicon.ico$ /favicon.ico break;

rewrite ^/index.php?$ /index.php break;
rewrite ^/i.php?$ /i.php break;

rewrite ^/([^/]+)\.shtml?$  /app/web/templates/default/static/$1.shtml last;
rewrite ^/([^/]+)/([^/]+)\.shtml?$  /app/web/templates/$1/static/$2.shtml last;

rewrite ^/([^/]+)-([^/]+)-([^/]+)/?$  /index.php?app=$1&view=$2&act=$3 last;
rewrite ^/([^/]+)-([^/]+)/?$  /index.php?app=$1&view=$1&act=$2 last;
rewrite ^/([^/]+)/?$  /index.php?app=$1&view=$1&act=index last;