<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/plugin/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/app/web/templates/adminnew/css/main.css"/>
</head>

<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <p>本模板基于LayUI实现 ,支持所有LayUI组件.</p>
        <p>LayUI文档地址：
            <a href="http://www.layui.com/doc" target="_blank">http://www.layui.com/doc</a>
        </p>
        <p>QQ：86584780</p>
        <p>Email：tylergong@163.com</p>
    </blockquote>
</div>
</body>

</html>